extends layout.pug 

block content 
    div.main-con
        h1 Max Blog - where world writes blogs 
        .button-wrapper
            a(href="/new-blog", class="button-new button cta-button") Create blog 
    
        p.info-msg This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service

